<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>


  <body>

    <div class="row">
    <div class="large-3 columns">
      <h1><%= link_to 'TyTme', root_path %></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <li>
          <% if user_signed_in? %>
            <a href="/users/edit" class="button">My Account</a>
          <% else %>
            <a href="/users/sign_in" class="button">User Sign In</a>
          <% end %>
        </li>
        <li><a href="/charities" class="button">Charities</a></li>
      </ul>
    </div>
  </div>
  

    <%= yield %>
<footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright TyTme.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li>
            <% if charity_signed_in? %>
              <%= link_to 'Sign Out', destroy_charity_session_path, method: :delete %>
            <% elsif user_signed_in? %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'User', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'Charitable Orginizations', new_charity_registration_path %>
            </li>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>